body{
  font-family: 'Josefin Slab', serif
}
header .navbar-inverse {
  background: transparent;
  border: none; }
header .navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 1.5em;
}
header .navbar-inverse .navbar-nav > li > a:hover, header .navbar-defauld .navbar-nav > li > a:focus {
  color: white;
  border-bottom: 3px solid #FFAB10; }
header .navbar-brand {
  padding: 8px; }
header .logo {
  width: 40px; 
  zoom:100%;
}
header button{
  border: 1px solid #FFAB10;
  background: transparent;
}
#menu.active {
  background: #511324;
  padding: 10px 0;
  webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0.0s ease-in-out;
  transition: all 0.1s ease-in-out;
  -webkit-transform: translateZ(0); }

#bg-wrapper {
  background: url("../img/bg-origin.jpg") no-repeat;
  background-size:100%;
  height: 630px;
  display:block;
  padding:0 !important;
  margin:0;
  background-attachment: fixed; }

#social {
  position: fixed;
  left: 0;
  top: 270px;
  z-index: 2000; }
  #social ul {
    list-style: none;
    padding: 0; }
    #social ul li i {
      display: inline-block;
      color: #fff;
      background: #000;
      padding-top: 15px;
      width: 42px;
      padding-bottom: 15px;
      text-decoration: none;
      -webkit-transition: all 500ms ease;
      -o-transition: all 500ms ease;
      text-align: center;
      font-size: 1.30em; }
    #social ul li .ion {
      width: 50px; }
    #social ul li i:hover {
      padding: 10px 30px;
      background: #009ca8; }
    #social ul li .ion-social-facebook {
      background: #3b5998; }
    #social ul li .ion-social-twitter {
      background: #1DA1F2; }

#about {
  text-align: center;
  background: black;
  padding: 8% 1%; }
    #about span {
      font-weight: bold;
      font-size: 2em; }
  #about p {
    color: white;
    padding: 2.5% 20%;
 }
    #about p p:nth-child {
      text-align: center; }
  #about iframe {
    text-align: center; }
#about .video{
  width: 100%;
}

#gallery {
  padding: 8% 0;}
#gallery .photo{
  width: 100%;
}
.gallery{
  padding-bottom: 3%;
}
#gallery .btn-group{
  top:225px;
}
#gallery .btn-danger{
  background: #4D1022;
  color:white;
  border:none;
}
.btn-danger>i{
  color: white;
}
.thumbnail {
  padding: 9px;
  border: 1px solid rgba(111, 107, 107, 0.26);}
  /*CONTACT*/
#contact {
  background: black;
  padding: 10% 0;
  color: white;
  text-align: center;
}
  #contact h2 {
    text-align: center;
    color: #4D1022;
    font-size: 3em;
    font-weight: bold;
    padding: 4%;
 }
  #contact input, #contact textarea {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 8px;
    border: none;
    width: 50%;
    padding: 3px 5px; }
    #contact  input, #contact input textarea:hover, #contact textarea input, #contact textarea textarea:hover {
      border: 1.8px solid #FFAB10; }
    #contact a{
      background: rgba(115, 71, 71, 0.51);
      color:#FFAB10;
      padding: 10px 17px;
      text-align: center;
    }
    #contact li{
      display: inline-block;
      text-decoration: none;
      text-align: center;
    }
    .text-player{
      font-size: 1.4em;
    }
/*FOOTER*/
footer {
  text-align: center;
  background: #696868;
  padding: 10px 0; }

/*page -Team*/
#date-team {
  padding: 5% 0;
  background: black;
  color: white; 
text-align: center;}
  #date-team p {
    padding-top:20px;
    padding-bottom: 15px; }
  #date-team .icon-team {
    background: rgba(241, 235, 235, 0.83);
    font-size: 1.5em;
    color: #FFAB10;
    padding: 8px 15px;
    border-radius: 3px; }
  #date-team .icon-team :hover{
      background:rgba(241, 235, 235, 0.83)
    }
  #date-team .box-team {
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 230px;
    max-width: 315px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    background-color: #000000;
 }
  #date-team .box-team*, #date-team .box-team*:before, #date-team .box-team*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.55s ease;
    transition: all 0.55s ease; }
  #date-team .box-team img {
    width: 100%;
    height: 246px;
    backface-visibility: hidden;
    vertical-align: top; }
  #date-team .box-team figcaption {
    position: absolute;
    bottom: 25px;
    right: 25px;
    padding: 5px 10px 10px; }
  #date-team .box-team figcaption:before, #date-team figcaption:after {
    height: 2px;
    width: 400px;
    position: absolute;
    content: '';
    background-color: #ffffff; }
  #date-team .box-team figcaption:before {
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%); }
  #date-team .box-team figcaption:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); }
  #date-team .box-team figcaption > div:before, #date-team .box-team figcaption > div:after {
    width: 2px;
    height: 300px;
    position: absolute;
    content: '';
    background-color: #ffffff; }
  #date-team .box-team figcaption > div:before {
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  #date-team .box-team figcaption > div:after {
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%); }
  #date-team .box-team p, #date-team span {
    margin: 0;
    text-transform: uppercase; }
  #date-team .box-team p {
    font-weight: 400; }
  #date-team .box-team span {
    display: block;
    font-weight: 700;
    background-color: #ffffff;
    padding: 5px 10px;
    color: #000000; }
  #date-team .box-team a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  #date-team .box-team:hover img, #date-team .box-team.hover img {
    zoom: 1;
    filter: alpha(opacity=50);
    -webkit-opacity: 0.5;
    opacity: 0.5; }
  #date-team .box-team:hover figcaption:before,
  #date-team .box-team.hover figcaption:before,
  #date-team .box-team:hover figcaption:after,
  #date-team .box-team.hover figcaption:after,
  #date-team .box-team:hover figcaption div:before,
  #date-team .box-team.hover figcaption div:before,
  #date-team .box-team:hover figcaption div:after,
  #date-team .box-team.hover figcaption div:after {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  #date-team .box-team:hover figcaption:before,
  #date-team .box-team.hover figcaption:before,
  #date-team .box-team:hover figcaption:after,
  #date-team .box-team.hover figcaption:after {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
.img-team{
  text-align: center;
    padding: 5%;
}
footer{
  color: white;
  font-size: 1.5em;
}
/*# sourceMappingURL=main.css.map */
