doctype html
html(lang="es-PE")
	head
		
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="author" content="")
		title Knots
		link(href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="assets/font/sf_slapstick_comic/SF Slapstick Comic.ttf")
		link(rel="stylesheet", href="assets/ionicons/css/ionicons.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		include base/header
		section#bg-wrapper
		section#about
			.container
				h2 Knot!
				p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima at distinctio amet sint possimus provident quae.
				.row
					.col-md-6.col-sm-6
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quia, fugiat debitis, a repellendus recusandae, quis nostrum modi dicta neque tempore quidem numquam omnis? Iure cumque recusandae hic, adipisci ratione!
					.col-md-6.col-sm-6
						<iframe width="440" height="320" src="https://www.youtube.com/embed/inQ6Q7NCtlU" frameborder="0" allowfullscreen></iframe>
		section#gallery
			.container
				.row.mt-10
					.col-md-3(style='color:#34495E')
						h3  Lorem ipsum dolor sit amet
						p 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint mollitia expedita omnis eos hic, esse recusandae ipsam, obcaecati numquam eligendi laborum, itaque maiores fugit aspernatur nisi vero illum minus quasi!
						.btn-group
							a.btn.btn-danger(href="#scroller" data-slider="prev")
								i.icon-angle-left
							a.btn.btn-danger(href="#scroller" data-slider="next")
								i.icon-angle-right
					.col-md-9
						#scroller.carousel.slide
							.second.carousel-inner
								.item.active
									.row
										.col-xs-4
											.item
												.item-inner
													.thumbnail
														img.photo(src="assets/img/2.jpg")
										.col-xs-4
											.item
												.item-inner
													.thumbnail
														img.photo(src="assets/img/3.jpg")
										.col-xs-4
											.item
												.inner
													.thumbnail
														img.photo(src="assets/img/4.jpg")
								.item
									.row
										.col-xs-4
											.item
												.item-inner
													.thumbnail
														img.photo(src="assets/img/5.jpg")
										.col-xs-4
											.item
												.item-inner
													.thumbnail
														img.photo(src="assets/img/6.jpg")
										.col-xs-4
											.item
												.item-inner
													.thumbnail
														img.photo(src="assets/img/7.jpg")
		section#contact
			.container
				h2 Contactanos!
				.row
					.col-md-6

					.col-md-6
						form
							p Email 
								input(type="email")
							p escribenos
								textarea(row="2")
		footer
			.container
				.row
					p Creado por Knots &copy 2016
	script(src="assets/js/jquery.js")
	script(src="assets/js/bootstrap.min.js")
	script(src="assets/js/main.js")