doctype html
html(lang="es-PE")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description" content="")
		meta(name="author" content="")
		title Juego
		link(href='https://fonts.googleapis.com/css?family=Josefin+Slab' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="assets/ionicons/css/ionicons.css")
		link(rel="stylesheet", href="assets/css/bootstrap.min.css")
		link(rel="stylesheet", href="assets/css/main.css")
	body
		include base/header
		section#date-team
			.container
				h2 Unidos por los nudos!
				.row
					.col-md-3
						figure.box-team
							img(src="assets/img/team/jj.jpg")
							figcaption
								div
									p Juan J. Mejia.
									span Gamer Developer
									a(href="#")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto eos laudantium atque debitis quis error commodi dolores cum dignissimos veniam. Suscipit dolores ipsum eaque, voluptates error sapiente quo assumenda beatae.
						a.icon-team.ion-social-facebook(href="https://www.facebook.com/juanjose.mejia.98?fref=ts")
					.col-md-3
						figure.box-team
							img(src="assets/img/team/ale.jpg")
							figcaption
								div
									p Alejandra Vargas C.
									span Graphic Designer
									a(href="#")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem doloremque nam, quasi est ipsa. Eius eum totam sequi aspernatur vero ab, quis sunt suscipit, nulla repellendus beatae id distinctio, alias!
						a.icon-team.ion-social-facebook(href="https://www.facebook.com/alejandra.vargascoronado?fref=ts")
					.col-md-3
						figure.box-team
							img(src="assets/img/team/carlos.jpg")
							figcaption
								div
									p Carlos F. Rojas
									span Gamer Developer
									a(href="#")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et magni quas cupiditate quae consectetur, quia consequatur perspiciatis veritatis accusamus, placeat recusandae optio eius ex alias beatae illo fugiat. Unde, autem.
						a.icon-team.ion-social-facebook(href="https://www.facebook.com/KRL0SFL1P?fref=ts")
					.col-md-3
						figure.box-team
							img(src="assets/img/team/monica-1.jpg")
							figcaption
								div
									p Monica CCencho O.
									span Front-end
									a(href="#")
						p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut explicabo quasi vel odit reprehenderit neque atque quam at in, nemo aut ipsam, sunt aspernatur commodi, repellat hic nam blanditiis facere.
						a.icon-team.ion-social-facebook(href="https://www.facebook.com/ccenchoo.monica")



	script(src="assets/js/jquery.js")
	script(src="assets/js/bootstrap.min.js")
	script(src="assets/js/main.js")
	script(src="assets/js/hover.js")